# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Platform specific
.DS_Store

# Uploads and DBs
backend/uploads/*
!backend/uploads/.gitkeep
backend/query_logs.db

# Private files
INTERVIEW_PREP.md
AWS_DEPLOYMENT.md
FluentDB_AWS_Key.pem

# IDEs
.vscode/
.idea/
